<%= form_with(model: @product, local: true) do |f| %>
  <label for="ean">Code</label>
  <div><%= @product.ean%></div>
  <br>
  <label for="name">Name</label>
  <div><%= @product.name%></div>
  <br>
  <label for="Price">Price</label>
    <div><%= @product.price%></div>
  <br>
  <%= link_to "Edit", edit_product_path(@product) %>
  <%= link_to 'Delete', product_path(@product), data: {turbo_method: :delete} %>
<% end %>
<%= link_to "Back to index", products_path %>
